#content {
    margin: auto;
    padding: 10px;
    max-width: 600px;
}

/* Create three equal columns that floats next to each other */
.column {
    /* float: left; */
    display: inline-block;
    width: 25%;
    margin: 5px;
  }

.row-padding {
    padding-left: 2%;
}

header{
    position: relative;
}

div h2{
    color: rgb(209, 95, 121);
}

div p{
    padding-top: 5px;
    padding-left: 15px;
}

.inline-block{
    display: inline-block;
}

.button {
    border: none;
    padding: 14px; 
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}

.button-blue {
    background-color: blue;
}

.button-red {
    background-color: red;
}

.button-green {
    background-color: green;
}