#content {
    margin: auto;
    padding: 10px;
    max-width: 550px;
}

/* Create three equal columns that floats next to each other */
.column {
    /* float: left; */
    display: inline-block;
    width: 25%;
    margin: 5px;
  }

.row-padding {
    padding-left: 2%;
}

header{
    position: relative;
}

div h2{
    color: rgb(209, 95, 121);
}

div p{
    padding-top: 5px;
    padding-left: 15px;
}

.inline-block{
    display: inline-block;
}

.color-button {
    border: none;
    padding: 14px; 
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}

.color-button:focus {
    outline: none;
    box-shadow:  0 0 0 2px rgb(255, 255, 255), 0 0 0 4px #4d535c;
}

.quantity-button {
    background-color: white;
    border: black;
    box-shadow: 0 0 0 1px black;
    border-radius: 50px/36px;
    font-size: 16px;
    width: 70px;
    height: 50px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.quantity-button:focus {
    outline: none;
}

.cart-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px/36px;
    font-size: 16px;
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.modal {
    width: 500px;
    height: 300px;
    margin:0 auto;
    /* display:table; */
    position: absolute;
    left: 0;
    right:0;
    /* top: 50%;  */
    transform:translateY(50%);
}

.minus-button {
    text-align: center;
    border: none;
    border-radius: 50%;
    font-size: 40px;
    background-color: black;
    color: white;
    width: 60px;
}

.button-violet {
    background-color: #6327F4;
}

.button-red {
    background-color: #C62930;
}

.button-black {
    background-color: black;
}

.button-white {
    background-color: white;
}

.button-orange {
    background-color: orange;
}

.button-yellow {
    background-color: yellow;
}

.button-navy-blue {
    background-color: #1D53AE;
}

.button-tourquise {
    background-color: #285A7B;
}

.button-beige {
    background-color: #DAB595;
}

.button-sky-blue {
    background-color: #54C0F9;
}

.button-lime-green {
    background-color: #90FA4D;
}

.button-pink {
    background-color: #EA37B3;
}

.button-cream {
    background-color: #DAB595;
}

.button-emerald-green {
    background-color: #418D65;
}

.button-dark-grey {
    background-color: #6F6975;
}

.button-brown {
    background-color: #6E502B;
}

.button-aqua-marine {
    background-color: #69DAD1;
}

.button-light-grey {
    background-color: #C4C4C4;
}